<h2>100% accurate weather:</h2>

<a routerLink="/weather/add">
  <span class="badge badge-primary mb-sm-2 ml-sm-2 big-font">Add new forecast</span>
</a>

<table class='table table-striped' *ngIf="forecasts">
    <thead>
      <tr>
        <th (click)="sortByDate()">Date</th>
        <th>Temp. (C)</th>
        <th>Temp. (F)</th>
        <th>Summary</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of forecasts">
        <td>{{ forecast.date | date: 'short'}}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
        <td><a routerLink="/weather/{{forecast.id}}">
          <i class="bi bi-vector-pen"></i>
        </a>
        </td>
        <td><button (click)="deleteForecast(forecast)" class="transparent">
          <i class="bi bi-x-square"></i></button></td>
      </tr>
    </tbody>
</table>