button{
    border: 0em;
    text-align: center;
}

.bi{
    font-size: 1.5em;
}

.transparent{
    background-color: transparent;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: black;
}

.big-font{
    font-size: 1.3em;
}