<div class="form-group">
    <label>Date and time:</label>
    <input type="datetime-local"
     class="form-control" [(ngModel)]="forecast.date"/>
</div>
<div class="form-group">
    <label>Temperature in °C (°F will be calculated automatically):</label>
    <input type="number"
     class="form-control" [(ngModel)]="forecast.temperatureC" placeholder="30"/>
</div>
<div class="form-group">
    <label>Summary:</label>
    <input class="form-control" [(ngModel)]="forecast.summary" placeholder="Warm"/>
</div>

<button  class="btn btn-primary" (click)="add()">Add</button>