<h1>Counter</h1>
<p>This is a simple example of an Angular component.</p>
<p>Current count: <strong>{{ counter }}</strong></p>
<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>
