<div *ngIf="forecast">
    <h4>Change weather forecast for {{forecast.date| date: 'short'}}</h4>
    <div class="form-group">
        <label>Temperature in °C (°F will be calculated automatically):</label>
        <input type="number" min="-100" max="100"
         class="form-control" [(ngModel)]="forecast.temperatureC" placeholder="30"/>
    </div>
    <div class="form-group">
        <label>Summary:</label>
        <input class="form-control" [(ngModel)]="forecast.summary" placeholder="Great"/>
    </div>

    <button  class="btn btn-primary" (click)="update()">update</button>
</div>