<body>
    <app-nav-menu></app-nav-menu>
    <div class="container" [@routeAnimation]="getAnimationData(routerOutlet)">
        <router-outlet #routerOutlet="outlet"></router-outlet>
    </div>
</body>