<header>
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
    >
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">{{title}}</a>
          <ul class="nav nav-pills flex-grow">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/counter']" [routerLinkActive]="['active']"
                >Counter</a
              >
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['/weather']" [routerLinkActive]="['active']"
                >Weather</a
              >
            </li>
          </ul>
      </div>
    </nav>
</header>
  